@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Lexend+Deca:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*Styling the thumb in Chrome*/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;

  height: 8px;
  width: 8px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;

  @apply bg-green;

  transition: all .2s ease;
}

input[type=range]:hover::-webkit-slider-thumb {
  opacity: 1;
  width: 12px;
  height: 12px;
}

button {
  transition: opacity 0.2s ease;
}

button:disabled {
  opacity: 0.8;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;

  height: 8px;
  width: 8px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;

  @apply bg-green;

  transition: all .2s ease;
}

input[type=range]:hover::-moz-range-thumb {
  opacity: 1;
  width: 12px;
  height: 12px;
}
